/* version mobile */
@media (max-width: 767px) {
.container {
display: flex;
flex-direction: column;
}
}

/* version tablette & pc */
@media (min-width: 768px) {

}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background-star.gif");
  background-position: center;
  background-size: cover;
  
}

.curseurCirculaire {
  width: 30px;
  height: 30px;
  border: 2px solid #000; /* Couleur de la bordure du cercle */
  border-radius: 50%; /* Transforme en cercle */
  position: fixed; /* Position fixe pour suivre la souris */
  pointer-events: none; /* Permet les interactions avec les éléments en dessous */
  z-index: 9999; /* Assurez-vous qu'il soit au-dessus du contenu */
}



/*! CONTACT ---------------------*/

.containerContact {
  position: absolute;
  padding: 20px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(248, 51, 169, 0.515);
}

.itemContact {
  padding: 2px;
}

/*! ABOUT ---------------------*/

.containerAbout {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.itemAbout {
  margin: 20px;
  width: 10%;
  height: auto;
  border: solid 2px white;
  border-radius: 25px;
}

.cv {
  font-family: "Manrope", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 30px;
  border: solid 2px white;
  border-radius: 25px;
  text-decoration: none;
}

.cv:hover {
  width: 220px;
  height: 40px;
  font-style: bold;
  background-color: rgba(248, 51, 169, 0.515);
  cursor: none;
}

.link {
  color: white;
}

.link:hover {
  color: rgb(33, 222, 251);
  cursor: none;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  padding: 2%;
}

.idTitle {
  height: auto;
  display: flex;
  flex-direction: column;
}

.title {
  height: 3%;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 50;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.underTitle {
  height: 2%;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 10;
  font-weight: 50;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}


/*! portfolio */

.Portfolio {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 10;
  font-weight: 50;
}
