.container {
  width: 100vw;
  padding: 10px 0px 10px 10px;
}

.menuContainer {
  display: flex;
  position: absolute;
  top: 200px;
  min-width: 50px;
  height: auto;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10%;
}

.menuItem {
  font-family: "Manrope", sans-serif;
  font-size: 10;
  font-weight: 50;
}

.menuItem:hover {
  font-style: italic;
}