/* Styles de base pour les écrans plus larges */

.menuContainer {
  width: 100vw;
  height: 10vh;
}

.menuItem {
  padding: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 10vw;
  font-weight: 200;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.menuItem:hover {
  font-style: italic;
  opacity: 0.7;
}